/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */

/*==============================
GENERAL STYLES
==============================*/

@import url(http://fonts.googleapis.com/css?family=Anton|Maven+Pro:500,700);

body {
    font-family: 'Maven Pro', sans-serif;
    line-height: 25px;
}

.pad-bottom {
    padding-bottom: 60px;
}

section {
    padding-bottom: 120px;
    padding-top: 100px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.set-bk-clr {
	background-color: #01566e;
}

.clr-set {
	color: #01566e;
}

.f-big {
    font-size: 40px;
    font-weight: 900;
}

.set-bk-clr:hover {
	background-color: rgba(0, 54, 69, 0.67);
}
.close {
    color: #000;
    font-size: 30px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    
}



.debug {
    outline: 5px solid green;
    outline-offset: -5px;
}

.debug2 {
    outline: 5px dashed red;
    outline-offset: -5px;
}

/*==============================
NAVBAR STYLES
==============================*/
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.navbar-brand {
	padding: 15px;
	line-height: 20px;
	font-size: 60px;
	font-weight: 900;
}
    .navbar-brand img {
        height:50px;
    }
.navbar-default .navbar-toggle {
    border-color: #FFF;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: rgba(0, 0, 0, 0);
    }

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 900;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #000;
        text-decoration: none;
    }

.navbar-default {
    background-color: rgba(1, 86, 110,0.9);
    border-color: rgba(0, 54, 69,0.9);
    border-bottom-width: 3px;
}
/* ADDED PADDING IN NAVBAR */
.navbar {
    padding: 15px;
    -webkit-transition: background .8s ease-out,padding .8s ease-out;
    -moz-transition: background .8s ease-out,padding .8s ease-out;
    transition: background .8s ease-out,padding .8s ease-out;
}
/* CLASS FOR REMOVING PADDING IN NAVBAR*/
.navbar-pad-original {
    padding: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}


/* =============================================================
  HEADER SECTION STYLES
 ============================================================ */

#header {
    background: url(../img/canadaPanorama.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

    #header .overlay {
        background-color: rgba(3, 3, 3, 0.5);
        min-height: 800px;
    }

	#header h1 {
		line-height: 60px;
		font-size: 45px;
		font-weight: 900;
		padding-top: 200px;
		padding-bottom: 35px;
		color: #01566e;
	}

    #header h4 {
        line-height: 30px;
        font-size: 12px;
        padding-bottom: 40px;
        text-transform: uppercase;
    }

    #header a {
        border: 1px solid #01566e;
        font-size: 20px;
    }
        #header a:link {
            background-color: #01566e;
        }
        #header a:hover {
            background-color: rgba(0, 54, 69,0.9);
        }


/*================================
    ABOUT ME STYLES
==================================*/
#aboutme {
    background-color: rgba(237, 237, 237, 1);
}

	#aboutme i {
		font-size: 80px;
		padding: 30px;
		color: #01566e;
	}

    #aboutme h3{
        padding-bottom: 10px;
        padding-top: 0px;
    }

    #aboutme h4 {
        padding-bottom: 5px;
        padding-top: 25px;
    }

    .media img {
        margin-right: 40px;
        max-height: 150px;
        margin-bottom: 20px;
        border: 2px solid #003645;
    }

    .media img:hover {
        opacity: 0.6;
    }
/* =============================================================
  INSPIRATIONS SECTION STYLES
 ============================================================ */

#inspirations {
    background: url(../img/trompette2.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

    #inspirations .overlay {
        background-color: rgba(0,0,0,0.7);
        padding-top: 90px;
        min-height: 300px;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 100px;
    }

.inspirations-carousel {
    margin-top: 50px; /*SMALL TOP MARGIN FOR SPACE */
    padding: 0 30px 30px 30px;
}

    .inspirations-carousel .thumbnail {
        border: 1px solid #01566e;
    }

    .inspirations-carousel .carousel-control.left {
        height: 30px;
        width: 25px;
        margin-top: 45px;
        background: #01566e;
        left: -15px;
    }

    .inspirations-carousel .carousel-control.right {
        height: 30px;
        width: 25px;
        margin-top: 45px;
        background: #01566e;
        right: -15px;
    }

    .inspirations-carousel h4 {
        width: 100%;
        height: 100px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #inspirations .thumbnail {
    background-color: transparent;
}

/* =============================================================
 PORTFOLIO SECTION STYLES
 ============================================================ */

#works {
    background-color: rgba(237, 237, 237, 1);
}
/* FOR CHANGING COLOR OF ACTIVE CATEGORY */
.caegories a.active {
	background-color: #01566e;
	border: 2px solid #01566e;
}

/* FOR TRANSITION BEAUTIFULLY */
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

#works .work-wrapper {
	border: 2px solid #01566e;
	padding: 2px;
	margin: 5px 5px 10px 5px;
}

#works img {
    filter: gray; /* FOR IE6-9 */
    -webkit-filter: grayscale(1); /* FOR Google Chrome, Safari 6+ and  Opera 15+ */
    opacity: 0.8;
}

#works img:hover {
    filter: none; /* FOR IE6-9 */
    -webkit-filter: grayscale(0); /* FOR Google Chrome, Safari 6+ and  Opera 15+ */
    opacity: 1;
}

#works img.simple-img {
    filter: none; /* FOR IE6-9 */
    -webkit-filter: grayscale(0); /* FOR Google Chrome, Safari 6+ and  Opera 15+ */
    opacity: 1;
}



/* =============================================================
  TESTIMONIAL SECTION STYLES
 ============================================================ */
#testimonial {
    background: url(../img/bateau.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

    #testimonial .overlay {
        background-color: rgba(0,0,0,0.7);
        padding-top: 90px;
        min-height: 300px;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 100px;
    }

/* =============================================================
  FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: rgba(237, 237, 237, 1);
}
    footer i {
        font-size: 40px;
        padding: 20px;
        color: #01566e;
    }
    footer a {
        font-size: 15px;
        padding: 10px;
        color: #01566e;
    }
    footer a, footer a:hover {
        
        text-decoration: none;
    }
/*==================================================================
   MODALS STYLES
==================================================================*/

.modal {
    overflow-y: auto;
}

.modal-header {
    background-color: rgba(1, 86, 110,0.9);
}

.modal-open {
    overflow: auto;
}
.modal-open[style] {
    padding-right: 0px !important;
}

/*==================================================================
   PROJETS STYLES
==================================================================*/

/*==================================================================
   CAROUSEL PROJETS STYLES
==================================================================*/

#projet {
    background-size: 100px;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

#projet .overlay {
    background-color: rgba(0,0,0,0.7);
    padding-top: 90px;
    min-height: 300px;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.projet-carousel {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 0px 0px 0px;
}

    .projet-carousel .item img {
        width: auto;
        height: 720px;
        max-height: 720px;
        margin: auto;
        
    }

    .projet-carousel .item {
        width: 100%;
        height: 100%;
    }

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}

.process-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}





.projet-carousel h4 {
    width: 100%;
    height: 100px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#projet h2 {
    
    text-shadow : 0px 0px 4px #000000;
}

#projet p {
    text-shadow: 0px 0px 2px #000000;
}

#projet .thumbnail {
    background-color: transparent;
}



